.about__image{
    margin: auto;
    width: 400px;
    height: 400px;
    box-shadow: 2px;
    border-radius: 25%;
    align-content: center;
  }

  @media (max-width: 600px){
    .about__image{
      width: 300px;
      height: 300px;
      margin: auto;
    }
  }