.contact {
  margin: auto;
  flex-direction: column;
}
/* #phone{
  flex-direction: column;
}
#phone1{
  flex-direction: column;
} */

.conact > a{
  display: grid;
  grid-auto-rows: auto;
  margin-top: 10px;
  margin-left: 10px;
}

#icon{
  text-align: center;
}

.ssec1{
 margin-left: 10px;
}

.ssec2{
  margin-left: 10px;
}

.ssec3{
  margin-left: 10px;
}

#line{
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px){
  #line{
    display: flex;
    flex-direction: column;
  }
}